
.container {
    margin: 0 auto;
    height: 800px;
    width: 500px;
}
h1 {
    font-weight: bold;
    color: chartreuse;
    text-align: center;
}
p {
    text-align: center;
    color: yellow;
    font-size: 25px;
}
.song {
    background-color: black;
}
body {
    display:-ms-flexbox;
    display:flex;
}